#myCanvas {
  border-width: 5px;
  background-color: rgb(255, 255, 255);
  border-color: #000;
  width: 800px;
  height: 600px;
}

#previewCanvas {
  border-width: 5px;
  background-color: rgb(255, 255, 255);
  border-color: #000;
  width: 800px;
  height: 600px;
}

html, body {
  width: 100%;
  height: 100%;
  transition: all;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  position: absolute;
  width: 60px;
  height: 470px;
  background-color: rgb(104, 103, 103);
  border-radius: 0 0 10px 10px;
  max-width: 200px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 10px;
  right: 50px;
  top: 100px;
}

.menuComponent {
  width: 40px;
  height: 40px;
  background-color: rgb(146, 146, 146);
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 30px;
  color: rgb(235, 235, 235);
  text-align:center;
  z-index: 100;
}

.subMenu {
  position: absolute;
  left: -70px;
  width: 60px;
  height: 240px;
  background-color: rgb(104, 103, 103);
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 10px;
  border-radius: 5px;
  color: rgb(235, 235, 235);
  z-index: 100;
}

#shapeMenu {
  top: 120px;
}

.sliderBar {
  width: 30px;
  height: 150px;
  background-color: rgb(146, 146, 146);
  border-radius: 5px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background-color: rgb(146, 146, 146);
  width: 150px;
  height: 20px;
  border-radius: 5px;
  transform: rotate(270deg);
  outline: none;
  z-index: 100;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 30px;
  background: #c7c7c7;
  outline: none;
  border-radius: 5px;
  border-width: 0;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 30px;
  background: #c7c7c7;
  outline: none;
  border-radius: 5px;
  border-width: 0;
}

#colorMenu {
  position: absolute;
  right: -140px;
  background-color: rgb(104, 103, 103);
  padding: 15px;
  border-radius: 8px;
  width: 130px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#brightness{
  -webkit-appearance: none;
  appearance: none;
  width: 80px;
  height: 10px;
  outline: none;
  margin-top: 20px;
}

.canvasContainer{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  border: 3px solid rgb(104, 103, 103);
  display: flex;
  justify-content: center;
  align-items: center;
}

#colorpicker{
  width: 100px;
  height: 100px;
}

.palette {
  width: 40px;
  height: 40px;
  background-color: rgb(146, 146, 146);
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 30px;
  color: #fff;
}

.dragElement {
  background-color: rgba(196, 196, 196, 0.8);
  width: 50px;
  height: 30px;
  position: absolute;
  top: 75px;
  border-radius: 10px 10px 0 0;
}

.showBox {
  background-color: rgb(104, 103, 103);
  position: absolute;
  height: 150px;
  width: 150px;
  left: 55px;
  border-radius: 10px;
  display: none;
  justify-content: center;
  align-items: center;
}

#penPrev {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}


#opaPrev {
  background-color: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.imgUpload{
  position:absolute;
  opacity: 0;
  width: 40px;
  height: 40px;
}

#ad {
  display: none;
}

.undoNum {
  position: absolute;
  font-size: 12px;
}

#fontSizeNum {
  font-size: 25px;
  color: #fff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  background: transparent;
}

input:focus{
  outline: none;
}

#inputSet{
  position: absolute;
}

#textPreview {
  z-index: 30;
  border:dotted;
  left: 0;
  top: 0;
  width:100%;
  background: transparent;
  font-size: 100px;
}

#setTextButton {
  position: absolute;
  left: -50px;
  width: 40px;
  height: 30px;
  background-color: rgb(119, 119, 119);
  color:rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

#fontsMenu{
  position: absolute;
  left: -70px;
  height: 20px;
  width: 60px;
  top: 70px;
  color:  black;
  border:  none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}